
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@ViewData["Message"]</h2>
<h2>
    @ViewData["Currunt Time :"]

</h2>

<ul>
    @{
        foreach (string i in (string[])ViewData["FruitArray"])
        {
            <li>@i</li>
        }
    }

</ul>

<ul>
    @{
        foreach (string str in (List<string>)ViewData["SportData"])
        {
            <li>@str</li>
        }
    }

</ul>

<ul>
    @{

        var emmp = (ViewData_Demo.Models.Employee)ViewData["Employee"];
    }

    <li>@emmp.Id</li>
    <li>@emmp.Name</li>
    <li>@emmp.Designation</li>

</ul>
